<h1><%= @user.email %></h1>
<h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
<h4><%= @user.comments.count %> Total Comments</h4>
<h4><%= @user.comments.where(:rating => '5_stars').count %> Total 5 Star Reviews</h4>