@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

a, h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  color: #B00C0C;
}

p {
  margin:0;
  padding:0;
  color: #590000;
  font-size: 14px;
}

body {
  background: url('/assets/ricepaper_v3.png');
   font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

}

.navbar.navbar-inverse {
  background:url('/assets/grey_wash_wall.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #3B3B3B;
}

.navbar-inverse .navbar-brand {
  color: #8B1414;
  font-family: 'Oleo Script', cursive;
  font-size:28px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

#map {
  height: 300px;
}

clear {
    clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #8B1414;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #8B1414;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

button {
  background: #70655e;
}